.contact {

    color: #fff;
}

.h2 {
    font-family: "Clash Display", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39.36px;
    color: #d434fe;
}

.contact-info ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 19.5px;
}

.share {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 19.5px;
}

@media(max-width: 768px) {
    .contact-info {
        display: none;
    }
    .contact-txt {
        display: none;
    }
}
