.register-btn {
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  color: white;
}

.register-btn:hover {
  background: transparent;
  border: 2px solid #903aff;
}

.logo-text ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 19.5px;
}

.logo-text ul li:hover {
  background-image: linear-gradient(270deg, #903aff, #fe34b9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.active {
  background-image: linear-gradient(270deg, #903aff, #fe34b9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.navbar {
  background-color: transparent;
  height: 80px;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu-icon {
    display: block;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    flex-direction: column;
  }

  .logo-text {
    flex-direction: column;
  }
  .logo img {
    display: none;
  }
}
